@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url(/images/tło.png);
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */
.wrapper{
  justify-content: space-around;
}
.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}
.posts{
  min-height: 700px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    transition: 1s;
  }
  a:hover{
    color: white;
    transition: 1s;
  }
}

/* Lists */

.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li{
    margin: 10px 0;
  }
  a{
    text-decoration: none;
    font-size: 20px;
  }
  a:hover{
    font-weight: 900;
  }
  .active {
    font-weight: bold;
  }
}


.list-horizontal {
  li {
    display: inline-block;
    a{
      font-size: 16px;
    }
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */
.post {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  &.active {
    transition: 0.5s;
    opacity: 1;
    z-index: 1;
    width: 400px;
    display: block;
    left: 50%;
  transform: translate(-50%, 0);
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
    font-size: 16px;
  }
}
.post-title{
  font-size: 25px;
  margin-top: 0;
}
.post-content{
  font-size: 18px;
  font-family: 'Caveat', cursive;
  font-weight: 800;
  max-width: 400px;
  position: relative;
}
@media (max-width: 439px) {
  .posts{
    height: 900px;
  }
  .post-content{
    width: 300px;
  }
  .post.active{
    width: 300px;
  }
}